nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #6C6B6B;
}

.nav-container {
    width: 20%;
    margin-top: 15px;
}



.button-nav{
color: #6C6B6B;
text-decoration: none;
}

.button-nav:hover{
    color: #a09f9f;
    cursor: pointer;
}